body {
    font-family: sans-serif;
    background-color: black;
}

header {
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex;
    
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
    color: white;
}

p {
    font-size: 24px;
    color: white;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
}

article {
    background-color: white;
    padding: 15px;
    width: 400px;
    margin: 15px;

}

.article-but {
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    color: white;
    background-color: #476BD6;
}

footer {
    padding: 15px;
    display: flex;
    background-color:#6D87D6;
}

footer a {
    margin-right: ;
}

footer p {
    font-size: 24px;
    color: white;
}
